<%- include('components/header') %>

  <body class="d-flex justify-content-center align-items-center min-vh-100">
    <main class="text-center main-login">
      <div class="logo-container d-flex flex-row justify-content-center align-items-center mb-4 ">
        <h1 class="title-gradient">
          <span>UFC ASK</span>
        </h1>
        <img class="ms-3" src="/assets/imgs/small_ufc_logo.png" alt="Logo UFC" class="ufc-logo">
      </div>

      <div class="login-box mx-auto">

        <form method="POST" action="<%= endpoint %>" class="d-grid gap-3">
          <input
            type="number"
            name="code"
            class="form-control"
            placeholder="Digite o Código Recebido"
            required
          />
          
          <input
            type="password"
            name="password01"
            class="form-control"
            placeholder="Digite sua Senha"
            required
          />
          
          <input
            type="password"
            name="password02"
            class="form-control"
            placeholder="Digite sua Senha Novamente"
            required
          />
          <button type="submit" class="btn text-white fw-bold">
            <%= title %>
          </button>
        </form>
      </div>
    </main>
  </body>

<%- include('components/footer') %>
