<%- include('components/header') %>

  <body class="d-flex justify-content-center align-items-center min-vh-100 login-page">
    <main class="text-center main-login">
      
      <div class="logo-container d-flex flex-row justify-content-center align-items-center mb-4 ">
        <h1 class="title-gradient">
          <span>UFC ASK</span>
        </h1>
        <img class="ms-3" src="/assets/imgs/small_ufc_logo.png" alt="Logo UFC" class="ufc-logo">
      </div>

      <div class="login-box">
        <form method="POST" action="/" class="d-grid gap-3">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email Acadêmico"
            required
          />
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Senha"
            required
          />
          <button type="submit" class="btn text-white fw-bold">
            Entrar
          </button>
        </form>

        <div class="mt-4 small">
          <a href="/manage-access?action_type=password">Esqueci minha senha</a>
          <br />
          <a href="/manage-access?action_type=access">Primeiro acesso</a>
        </div>
      </div>
    </main>
  </body>

<%- include('components/footer') %>