<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Primeiro Acesso</title>

    <!-- Bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Inter Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" href="/assets/imgs/small_ufc_logo.png" type="image/x-icon">

    <!-- Estilos customizados -->
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>

  <body class="d-flex justify-content-center align-items-center min-vh-100">
    <main class="text-center main-login">
      <div class="logo-container d-flex flex-row justify-content-center align-items-center mb-4 ">
        <h1 class="title-gradient">
          <span>UFC ASK</span>
        </h1>
        <img class="ms-3" src="/assets/imgs/small_ufc_logo.png" alt="Logo UFC" class="ufc-logo">
      </div>

      <div class="login-box mx-auto">
        <% if (error) { %>
        <div class="alert alert-danger mt-2"><%= error %></div>
        <% } %>

        <form
          method="POST"
          action="/send-code"
          class="d-grid gap-3"
          onsubmit="return validar();"
        >
          <!-- Campo oculto para passar o tipo de ação -->
          <input type="hidden" name="type" value="<%= type %>" />

          <label for="email">Digite o seu email acadêmico da UFC</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email Acadêmico"
            required
          />

          <button type="submit" class="btn text-white fw-bold">Próximo</button>
        </form>
      </div>
    </main>
  </body>
</html>

<script>
  function validar() {
    let email = window.document.getElementById("email").value;
    var ok = true;

    // Verificar se o email contém '@alu.ufc.br'
    const regex = /^[a-zA-Z0-9._%+-]+@alu\.ufc\.br$/;

    if (!regex.test(email)) {
      alert("Por favor, insira um email válido com @alu.ufc.br");
      ok = false;
    }

    // Se passar na validação, retornar true
    return ok;
  }
</script>
