<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <!-- Bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Inter Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" href="/assets/imgs/small_ufc_logo.png" type="image/x-icon">

    <!-- Estilos customizados -->
    <link rel="stylesheet" href="/assets/css/index.css" />
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- SweetAlert2 Custom -->
    <script src="/assets/js/sweetalert-custom.js"></script>
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/0c23645969.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Incluindo a sidebar -->
    <aside class="sidebar-container">
      <%- include('components/sideBar.ejs') %>
    </aside>

    <main class="content main-home d-flex flex-column justify-content-center align-items-center">
      <div class="new-ask-container w-100">
        <div class="text-center mb-5 w-100">
          <h1 class="mb-2 wrap-title">
            Bem Vindo ao <span class="title-gradient">UFC ASK</span>
          </h1>
          <p class="fst-italic chat-desc">
            Seu assistente inteligente para tirar dúvidas sobre a UFC.<br />Pergunte
            sobre editais, matrículas, calendário acadêmico e muito mais!
          </p>
        </div>
  
        <div class="d-grid gap-3">
          <div class="p-2"></div>
          <div class="p-2"></div>
        </div>
  
        <!-- Formulário de Pergunta do Usuário -->
        <form action="/chatBox" method="POST" class="text-center w-100">
          <div class="user-query d-flex flex-row justify-content-center">
            <input
              type="text"
              class="form-control"
              placeholder="Exemplo: 'Como faço para me matricular em uma disciplina?'"
              id="userQuery"
              name="userQuery"
            />
            <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </form>
      </div>
    
    </main>
  </body>
</html>
